*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
   /* overflow-x: hidden; */
    color: #000;
    background: #fff;
    font-size: 12px;
}

.g-head, .g-content, .g-footer{
    min-width: 1080px;
}

.g-head{
    position: fixed!important;
    top: 0;
    width: 100%;
    height: 76px;
    left: 0;
    border-bottom: 1px solid #E0E0E0;
    font-size: 16px;
    background: #fff;
    z-index: 999;
}

.g-head .g-wrap{
    height: 76px;
    width: 1080px;
    margin: 0 auto;
}

.g-head .g-wrap .head-logo{
    height: 100%;
    float: left;
    width: 165px;
}

.g-head .g-wrap .head-logo a{
    display: block;
    padding: 15px 0;
    height: 45px;
    width: 165px;
    overflow: hidden;
    background: url(https://qiye.163.com/public/images/qiye_logo.png) center no-repeat;
}

.g-head .g-wrap .head-right{
    height: 100%;
    float: right;
}

.g-head .g-wrap .head-right .header-nav{
    float: left;
}
.g-head .g-wrap .head-right .header-nav ul li{
    float: left;
    padding-top: 14px;
    height: 62px;
    line-height: 58px;
}

.g-head .g-wrap .head-right .header-nav ul li a{
    display: inline-block;
    padding: 0 18px;
    height: 58px;
    color: #666666;
}

.g-head .g-wrap .head-right .header-nav ul li a:hover,.g-head .g-wrap .head-right .header-nav ul li .checked{
    color: #0154a0;
    border-bottom: 4px solid #0154a0;
}

.g-head .g-wrap .head-right .header-login{
    height: 100px;
    font-size: 14px;
    float: left;
}

.g-head .g-wrap .head-right .header-login ul li{
    float: left;
    height: 72px;
}

.g-head .g-wrap .head-right .header-login ul li a{
    margin-top: 33px;
    display: inline-block;
    padding: 0 18px;
    color: #666666;
}

.g-head .g-wrap .head-right .header-login ul li .free{
    padding: 0 12px;
    background-color: #b61820;
    border-radius: 10px;
    color: #fff;
}

.g-content{
    width: 100%;
    padding-top: 76px;
}

.g-content .g-body .g-body-mod .sildes{
    width: 100%;
    min-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    background: #f1f1f1;
}

.g-content .g-body .g-body-mod .sildes .slides-Inner .imgbox{
    display:block;
    height: 520px;
    width: 100%;
    text-align: center;
    background:url(https://qiye.163.com/public/images/banner/banner_20171214.jpg) center no-repeat;
}

.g-content .g-body .g-body-mod .sildes ul {
    text-align: center;
    position: relative;
    height: 0;
    top: -24px;
    left: 50%;
    margin-left: -48px;
    background-color: #fff;
}


.g-content .g-body .g-body-mod .sildes ul li{
    width: 12px;
    height: 12px;
    float: left;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
    background: url(https://qiye.163.com/public/js/slide/img/dot.png)  no-repeat;
    background-position: -18px 2px ;
}

.g-content .g-body .g-body-mod .sildes ul .active{
    background-position: 1px 2px;
}

.g-content .g-body .g-body-mod .advantage{
    padding: 70px 0 60px;
}

.g-content .g-body .g-body-mod .advantage .g-wrap{
    margin: 0 auto;
    width: 1080px;
}

/* li float ul需要清除浮动 才能撑开 */
.g-content .g-body .g-body-mod .advantage ul::after,.g-content .g-body .g-body-mod .sildes ul::after{
    content: "";
    display: block;
    clear: both;
}

.g-content .g-body .g-body-mod .advantage ul li{
    width: 180px;
    height: 190px;
    float: left;
    text-align: center;
}

.g-content .g-body .g-body-mod .advantage ul li a{
    text-decoration: none;
    outline: 0;
    color: #0154a0;
}

.g-content .g-body .g-body-mod .advantage .advantage-txt{
    font-size: 18px;
    line-height: 42px;
}

.g-content .g-body .g-body-mod .buy{
    position: relative;
    padding: 30px 0 40px;
    color: #666666;
    background-color: #f1f3f4 !important;
    text-align: center;
    font-size: 24px;
}

.buy::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -16px;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 16px solid #f1f3f4;
}

.g-content .g-body .g-body-mod .buy .g-wrap{
    width: 1080px;
    margin: 0 auto;

}

.g-content .g-body .g-body-mod .buy .g-wrap .buy-top{
    border-bottom: 1px solid #dce6ec;
}


.g-content .g-body .g-body-mod .buy .g-wrap .buy-top .font{
    font-size: 42px;
    color: #0154a0;
}

.g-content .g-body .g-body-mod .buy .g-wrap .buy-bottom .price-wrap{
    display: inline-block;
    padding-left: 50px;
    padding-top: 25px;
    width:365px;
    text-align: left;
    background: url(https://qiye.163.com/public/images/calculator.png) no-repeat;
    background-position: 0 30px;
}

.g-content .g-body .g-body-mod .buy .g-wrap .buy-bottom .price-wrap .input-w input{
    position: relative;
    top:-5px;
    width: 174px;
    height: 30px;
    margin-right: 5px;
    box-sizing: border-box;
}

.g-content .g-body .g-body-mod .buy .g-wrap .buy-bottom .price-wrap .reference-pri{
    margin-top: 3px;
    font-size: 16px;
}

.g-content .g-body .g-body-mod .buy .g-wrap .buy-bottom .price-wrap .reference-pri span .min-price{
    color:#025bc9;
}

.g-content .g-body .g-body-mod .buy .g-wrap .buy-bottom .price-wrap p .free-btn{
    display: inline-block;
    font-size: 16px;
    color: #1cc779;
    margin-left: 78px;
    padding: 0 10px;
    line-height: 21px;
    border: 1px solid #1cc779;
    border-radius: 5px;
}

.g-content .g-body .g-body-mod .registered{
    padding:70px 0;
}

.g-content .g-body .g-body-mod .registered .g-wrap{
    width: 1080px;
    border: 1px solid #000;
    height: 366px;
    margin: 0 auto;
}

.g-content .g-body .g-body-mod .registered .g-wrap .form-tip{
    font-size: 24px;
    text-align: center;
    color: #666666;
    margin-bottom: 24px;
    line-height: 38px;
}


