 <%# 只能有且仅有一个跟标签 %>
  <nav>
        <ul>
            <li>
               <a href = "/">Home</a>
            </li>
            <li>
               <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>