*{
    margin: 0;
    padding: 0;
}

.startPage{
    width: 100%;
    z-index: 999;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
}

.startBtn{
    background-image: url(.//img/startGame.png);
    height: 170px;
    width: 200px;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.wrapper{
    width: 100%;
    height: 1000px;
    background-image: url(./img/bg.jpg);
    background-size: 100% 100%;
    position: relative;
}

.left-side{
    width: 24%;
    height: 1000px;
    position: absolute;
}

.left-side img{
    display: none;
    margin-top: 50px;
    margin-left: 50px;
}

.main{
    position: absolute;
    width: 50%;
    height: 90%;
    left: 25%;
}

.hearder{
    width: 100%;
    height: 80px;
    text-align: center;

}

.score{
    line-height: 80px;
    color: #dddddd;
    font-size: 20px;
    font-weight: bolder;
}

.content{
    position: absolute;
    width: 79.5%;
    height: 36.5%;
    left: 10%;
    top: 34%;
}

.loser{
    display: none;
    position: absolute;
    width: 100%;
    height: 1000px;
    top:0;
    left: 0;

}

.con{
    background-image: url(./img/startP.jpg);
    background-size: 100% 100%;
    height: 300px;
    width: 400px;
    position: absolute;
    margin: auto;
    border-radius: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loserScore{
    display: block;
    position: absolute;
    height: 30px;
    width: 40px;
    top: 42%;
    left: 40%;
    color: #222222;
    font-size: 30px;
    font-weight: bolder;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url(./img/closeBtn.png);
    background-size: 100% 100%;
    cursor: pointer;
}

.food{
    background-image: url(./img/apple.png);
    background-size: 100% 100%;
}

.head{
    background-image: url(./img/head.png);
    background-size: 100% 100%;
}

.body{
    background-image: url(./img/body.png);
    background-size: 100% 100%;
}

